<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brick House Machine Learning Predictions</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Brick House Prediction</h1>
                <!-- <p>Enter an address below</p> -->
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div><p><h1>Enter a residential address to return an image and ML prediction. 
                    </h1></p>
                   </div>
                   <hr>
                    <form method="POST" action="/address_form" role="form", name="address">
                        <div class="form-group">
                            <label for="inputName">Address (please enter in the format given below)</label>
                            <input type="text" class="form-control" id="inputName" name="address" placeholder="2017 Grant St Evanston, Illinois 60201">
                        <!-- </div>
                        <div class="form-group">
                            <label for="inputLat">Pet Location Lat</label>
                            <input type="text" class="form-control" id="inputLat" name="petLat" placeholder="Lat">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Pet Location Lon</label>
                            <input type="text" class="form-control" id="inputLon" name="petLon" placeholder="Lon">
                        </div> -->
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <div><p><h1>Prediction Result 
                    </h1></p>
                   </div>
                   <hr>
                    <div>
                        <div class='cont'>
                
                            <!-- {{data}} -->
                            </div>
                            <h2><span>{{ data.Best_guess }}</span> 
                                <br>
                                <br><span>{{ data.Brick }}</span>
                                <br><span>{{ data.Siding }}</span>
                                <br><span>{{ data.Unknown }}</span></h2>
                            
                            <img src="{{url_for('address_load_img')}}" alt='img'>
                            <a href="/" class='btn'>go back</a>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
