<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Brick Home Identifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/googlefonts.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body onload="anchor_me()">

      <!-- Navigation Bar -->

    <div class="wrapper">

      <!-- For the jumbotron image we used © Jandrie Lombar #202474008 Standard Image License -->

      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f6f9fc;">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="navbar-brand" href="/model_characteristics">Model Characteristics<a>
            </li>
          </ul>
        </div>
      </nav>
  

      <div class="hero text-center">
      </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <br><br>
          <h3>
            Machine learning applications in marketing, home repair, and real estate
          </h3>
          <p>
            In machine learning, algorithms identify and predict patterns in data. While the housing market may seem uncertain, highly accurate statistical models lead to a competitive edge. Our image recognition model aims to build computer architecture so tuck pointers and real estate investors can focus on housing architecture.  This convolutional neural network identifies brick homes for targeted marketing or investment with a high degree of accuracy.
          </p>
        </div>
        <div class="col-md-7"><br><br>
          <center><img src="static/images/brickhouselogo.png" width=200></center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><br><br><br><br><br><br><br><br>
         <h4>78% Testing Accuracy</h4> 
        </div>
        <div class="col-md-7">
          <h3>
            First, the bricklaying
          </h3>
          <p>
            Let’s say you’re in the masonry business. To target sales for home repairs, you may need to determine brick homes from non-brick homes. In the context of machine learning, categorization is a classification problem. To make predictions on unseen data, a training dataset must be designed. A training dataset is pre-classified through a manual or semi-automated process.
          </p>
          <p>
            We retrieved image data primarily from a python script that interfaced with the Google Streetview API. By collecting data through Google Streetview, we were able to design a model specific to the Evanston, Illinois area and link our data directly to geocoded information. To ensure our model had more distinct versions of brick and non-brick homes, additional data was scraped from Google Images. All collected images were sorted between brick, siding, and unknown.
          </p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-12">
          <script src="static/js/brickd3viz.js" charset="utf-8"></script>

          <style>
            @import "static/css/googlefonts.css";
            body {font-family: "Source Code Pro", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0; }
            path.link {
              fill: none;
              stroke-width: 2px;
            }
            .node:not(:hover) .nodetext {
              display: none;}
          </style>

          <section id="vis"></section> 
          <script>
          // some colour variables
            var tcBlack = "#130C0E";
          
          // rest of vars
          var w = 1200,
              h = 850,
              maxNodeSize = 50,
              x_browser = 20,
              y_browser = 20,
              root;
          
          var vis;
          var force = d3.layout.force(); 
          
          vis = d3.select("#vis").append("svg").attr("width", w).attr("height", h);
          
          d3.json("/static/data/marvel.json", function(json) {
          
            root = json;
            root.fixed = true;
            root.x = w / 2.5;
            root.y = h / 2;
          
          
                  // Build the path
            var defs = vis.insert("svg:defs")
                .data(["end"]);
          
          
            defs.enter().append("svg:path")
                .attr("d", "M0,-5L10,0L0,5");
          
              update();
          });
          
          
          /**
          *   
          */
          function update() {
            var nodes = flatten(root),
                links = d3.layout.tree().links(nodes);
          
            // Restart the force layout.
            force.nodes(nodes)
                  .links(links)
                  .gravity(0.05)
              .charge(-1500)
              .linkDistance(100)
              .friction(0.50)
              .linkStrength(function(l, i) {return 1; })
              .size([w, h])
              .on("tick", tick)
                  .start();

            /* const nodeLabels = node.append("svg:text")
              .attr({
              "class": "node-label",
                'dy': 24,
                "text-anchor": "middle"
                })
                .text(d => d.hero); */
          
            var path = vis.selectAll("path.link")
                .data(links, function(d) { return d.target.id; });
          
              path.enter().insert("svg:path")
                .attr("class", "link")
                // .attr("marker-end", "url(#end)")
                .style("stroke", "#eee");
          
          
            // Exit any old paths.
            path.exit().remove();
          
          
          
            // Update the nodes…
            var node = vis.selectAll("g.node")
                .data(nodes, function(d) { return d.id; });
          
          
            // Enter any new nodes.
            var nodeEnter = node.enter().append("svg:g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                .on("click", click)
                .call(force.drag);
          
            // Append a circle
            nodeEnter.append("svg:circle")
                .attr("r", function(d) { return Math.sqrt(d.size) / 30 || 4.5; })
                .style("fill", "#eee");
          
            
            // Append images
            var images = nodeEnter.append("svg:image")
                  .attr("xlink:href",  function(d) { return d.img;})
                  .attr("x", function(d) { return -25;})
                  .attr("y", function(d) { return -25;})
                  .attr("height", 50)
                  .attr("width", 50);
            
            // make the image grow a little on mouse over and add the text details on click
            var setEvents = images
                    // Append hero text
                    .on( 'click', function (d) {
                        // d3.select("h1").html(d.hero); 
                        // d3.select("h2").html(d.name); 
                        /* d3.select("h3").html ("Take me to " + "<a href='" + d.link + "' >"  + d.hero + " web page ⇢"+ "</a>" );  */
                    })
          
                    .on( 'mouseenter', function() {
                      // select element in current context
                      d3.select( this )
                        .transition()
                        .attr("x", function(d) { return -115;})
                        .attr("y", function(d) { return -115;})
                        .attr("height", 140)
                        .attr("width", 140);
                    })
                    // set back
                    .on( 'mouseleave', function() {
                      d3.select( this )
                        .transition()
                        .attr("x", function(d) { return -25;})
                        .attr("y", function(d) { return -25;})
                        .attr("height", 50)
                        .attr("width", 50);
                    });
          
            // Append hero name on roll over next to the node as well
            nodeEnter.append("text")
                .attr("class", "nodetext")
                .attr("x", x_browser)
                .attr("y", y_browser +15)
                .attr("fill", tcBlack)
                .text(function(d) { return x; });
          
          
            // Exit any old nodes.
            node.exit().remove();
          
          
            // Re-select for update.
            path = vis.selectAll("path.link");
            node = vis.selectAll("g.node");
          
          function tick() {
          
          
              path.attr("d", function(d) {
          
              var dx = d.target.x - d.source.x,
                    dy = d.target.y - d.source.y,
                    dr = Math.sqrt(dx * dx + dy * dy);
                    return   "M" + d.source.x + "," 
                      + d.source.y 
                      + "A" + dr + "," 
                      + dr + " 0 0,1 " 
                      + d.target.x + "," 
                      + d.target.y;
            });
              node.attr("transform", nodeTransform);    
            }
          }
          
          
          /**
          * Gives the coordinates of the border for keeping the nodes inside a frame
          * http://bl.ocks.org/mbostock/1129492
          */ 
          function nodeTransform(d) {
            d.x =  Math.max(maxNodeSize, Math.min(w - (d.imgwidth/2 || 16), d.x));
              d.y =  Math.max(maxNodeSize, Math.min(h - (d.imgheight/2 || 16), d.y));
              return "translate(" + d.x + "," + d.y + ")";
            }
          
          /**
          * Toggle children on click.
          */ 
          function click(d) {
            if (d.children) {
              d._children = d.children;
              d.children = null;
            } else {
              d.children = d._children;
              d._children = null;
            }
          
            update();
          }
          
          
          /**
          * Returns a list of all nodes under the root.
          */ 
          function flatten(root) {
            var nodes = []; 
            var i = 0;
          
            function recurse(node) {
              if (node.children) 
                node.children.forEach(recurse);
              if (!node.id) 
                node.id = ++i;
              nodes.push(node);
            }
          
            recurse(root);
            return nodes;
          } 
            
            
          </script>
        </div>
      </div>
      
      <!-- Begin address and image submission forms -->

      <div class="row">

        <hr>

        <div><h3>Enter a residential address or upload an image to return a classification.</h3></div>
        
        <hr>

      </div>

      <div class="row">

        <div class="col-md-4">

          <hr>

            <!-- /* Input Address form */ -->

          <form method="POST" action="/" role="form", name="address">
            <div class="form-group">
                <br>
                <label for="inputName">Address (please enter in the format given below)</label>
                <input type="text" class="form-control" id="inputName" name="address" placeholder="6257 N Legett Ave Chicago, Illinois 60646">
                <br>
                <br>
                <input type="submit" id="form-1" value="Submit Address" class="btn btn-default" style= "
                background-color: #eceaf1;
                color: black;
                border: 2px solid black;
                padding: none;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 10px;
                font-family: Verdana;
                border-radius: 8px">
            </div>
          </form>

          <br>
        
          <hr>

          <!-- /* Upload Image form */ -->

          <form method="POST" action="/" enctype="multipart/form-data">
              <div class="form-group">
                  <label for="inputName">Upload an image of a property.</label>
                  <input type="file" single name="image" class="btn btn-default"><br><br>
                  <input type="submit" id="form-2" value="Submit Image     " class="btn btn-default" style= "
                  background-color: #eceaf1;
                  color: black;
                  border: 2px solid black;
                  padding: none;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 10px;
                  font-family: Verdana;
                  border-radius: 8px">
              </div> 
          </form>

          <hr>
          <br>
          <br>
          <br>
            <p>If the brick or siding category is less than 40%, the classification is considered <b>unknown</b>.
              Otherwise, the highest percentage determines the image classification.</p>
            
            <br>
            <br>
            <br>        
            <hr>
              
        </div>

          

        <div class="col-md-8">
          
          <hr>
  
              <div class='cont'>
                <h4><span>{{data.Heading}}</span> 
                    <br>
                    <br><span><strong>{{data.Best_guess }}</strong></span>
                    <br>
                    <br><span>{{ data.Brick }}</span>
                    <br><span>{{ data.Siding }}</span>
                    <br><span>{{ data.Unknown }}</span></h4>

                <!-- upload image to website -->

                <img src="{{url_for('load_image')}}" id="form_anchor" alt='img' style = "
                  border-radius: 8px;
                  float: left;
                  width:  550px;
                  height: 550px;
                  object-fit: cover;
                  border: 1px solid rgb(14, 12, 12)">
              </div>

        </div>

      </div> 
      <!-- row end -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script>

      function anchor_me() {
        var elmnt = document.getElementById("{{form_submit}}");
        elmnt.scrollIntoView();
      }
    </script>
  </body>
</html>
